.header {
  padding: 30px 10px;
  background-color: #074f57;
  color: #e6e6e6;
  align-items: center;

  display: flex;
  justify-content: space-between;

  &__title {
    margin-left: 5px;
    font-weight: bold;
    font-size: large;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }

  .nav_links {
    display: flex;
    list-style: none;

    li {
      padding: 0 15px;
    }

    a:hover {
      border-bottom: 2px solid;
    }

    a:active {
      border-bottom: 2px solid;
    }
  }
}

@media only screen and (max-width: 870px) {
  .header__title {
    font-size: 16px;
  }

  a {
    font-size: 14px;
  }
}
